
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách hàng mới đặt</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Số Đơn Hàng</th>
                                    <th>Số Khách Hàng</th>
                                    <th>Ngày giao</th>
                                    <th>Địa chỉ</th>
                                    <th>Thành tiền</th>
                                    <th>Nhóm lệnh</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>
                                        2100009534
                                    </td>
                                    <td>01649022258</td>
                                    <td> 20/10/2022</td>
                                    <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                    <td> 2000000đ</td>
                                    <td>
                                        <button class="btn btn-danger">Hủy Đơn</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                        <button class="btn btn-success">Kích Hoạt</button>

                                    </td>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td>
                                        2100009534
                                    </td>
                                    <td>01649022258</td>
                                    <td> 20/10/2022</td>
                                    <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                    <td> 2000000đ</td>
                                    <td>
                                        <button class="btn btn-danger">Hủy Đơn</button>
                                        <button class="btn btn-default">Chi tiết</button>
                                        <button class="btn btn-success">Kích Hoạt</button>

                                    </td>
                                </tr>

                            </tbody>
                            <tr>
                                <td>01</td>
                                <td>
                                    2100009534
                                </td>
                                <td>01649022258</td>
                                <td> 20/10/2022</td>
                                <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                <td> 2000000đ</td>
                                <td>
                                    <button class="btn btn-danger">Hủy Đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích Hoạt</button>

                                </td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>
                                    2100009534
                                </td>
                                <td>01649022258</td>
                                <td> 20/10/2022</td>
                                <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                <td> 2000000đ</td>
                                <td>
                                    <button class="btn btn-danger">Hủy Đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích Hoạt</button>

                                </td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>
                                    2100009534
                                </td>
                                <td>01649022258</td>
                                <td> 20/10/2022</td>
                                <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                <td> 2000000đ</td>
                                <td>
                                    <button class="btn btn-danger">Hủy Đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích Hoạt</button>

                                </td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>
                                    2100009534
                                </td>
                                <td>01649022258</td>
                                <td> 20/10/2022</td>
                                <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                <td> 2000000đ</td>
                                <td>
                                    <button class="btn btn-danger">Hủy Đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích Hoạt</button>

                                </td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>
                                    2100009534
                                </td>
                                <td>01649022258</td>
                                <td> 20/10/2022</td>
                                <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                <td> 2000000đ</td>
                                <td>
                                    <button class="btn btn-danger">Hủy Đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích Hoạt</button>

                                </td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>
                                    2100009534
                                </td>
                                <td>01649022258</td>
                                <td> 20/10/2022</td>
                                <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                <td> 2000000đ</td>
                                <td>
                                    <button class="btn btn-danger">Hủy Đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích Hoạt</button>

                                </td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>
                                    2100009534
                                </td>
                                <td>01649022258</td>
                                <td> 20/10/2022</td>
                                <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                <td> 2000000đ</td>
                                <td>
                                    <button class="btn btn-danger">Hủy Đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích Hoạt</button>

                                </td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>
                                    2100009534
                                </td>
                                <td>01649022258</td>
                                <td> 20/10/2022</td>
                                <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                <td> 2000000đ</td>
                                <td>
                                    <button class="btn btn-danger">Hủy Đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích Hoạt</button>

                                </td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>
                                    2100009534
                                </td>
                                <td>01649022258</td>
                                <td> 20/10/2022</td>
                                <td>80/28 Dương Quảng Hàm , Phường 5 , Gò Vấp</td>
                                <td> 2000000đ</td>
                                <td>
                                    <button class="btn btn-danger">Hủy Đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích Hoạt</button>

                                </td>
                            </tr>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
